{{ember-input-trim name=name id=id type="number" class="form-control" value=value
  focusOut=(action "focusOut")
  focusIn=(action "focusIn")
  keyPress=(action "keyPress")
  keyUp=(action "keyUp")
  disabled=disabled
  key-up=key-up
  enter=enter
  on-blur=on-blur
  key-down=key-down
  placeholder=placeholder
}}
